$link-dark
    &,
    &:visited
        color: color-default
        transition: 0.2s ease
    &:hover,
    &:visited:hover
        color: color-link

$block-caption
    color: color-default
    margin-bottom: 0.5em
    font-weight: 500
    line-height: 1em

$block
    margin-bottom: block-margin
    border-radius: 12px
    overflow: hidden

$base-style
    h1, .h1
        font-size: 2em
        letter-spacing: -0.02em
        font-weight: 600
    h2, .h2
        font-size: 1.7em
        letter-spacing: -0.02em
        font-weight: 600
    h3, .h3
        font-size: 1.4em
        letter-spacing: -0.01em
        font-weight: 600
    h4, .h4
        font-size: 1.2em
        letter-spacing: -0.01em
        font-weight: 500
    h5, .h5
        font-size: 1em
        font-weight: 500
    h6, .h6
        font-size: 1em
        font-weight: 500
    hr
        border: 0
        height: 1px
        background: #f2f2f7
        margin: 1.5em 0
    strong
        font-weight: 600
    em, cite
        font-style: italic
    sup, sub
        font-size: 0.75em
        line-height: 0
        position: relative
        vertical-align: baseline
    sup
        top: -0.5em
    sub
        bottom: -0.2em
    small
        font-size: 0.85em
    acronym, abbr
        border-bottom: 1px dotted
    pre, code, pre tt
        font-family: font-mono
    ul, ol, dl
        margin: 0 20px
        line-height: line-height
    ul, ol
        ul, ol
            margin-top: 0
            margin-bottom: 0
    ul
        list-style: disc
    ol
        list-style: decimal
    dt
        font-weight: bold